@import "tailwindcss";
@plugin "daisyui" {
  themes: emerald --default, dim --prefersdark;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type="range"].double-range {
  position: absolute;
  pointer-events: none;
}

input[type="range"].double-range::-webkit-slider-thumb {
  pointer-events: all;
}

input[type="range"].double-range::-moz-range-thumb {
  pointer-events: all;
}